<form
  class="form-inline"
  #searchForm="ngForm"
  (ngSubmit)="searchBooks(searchValue)"
  novalidate
>
  <div class="form-group px-2">
    <label for="searchValue">Search</label>
    <input
      type="text"
      class="form-control ml-1"
      style="width: 150px;"
      id="searchValue"
      name="searchValue"
      [(ngModel)]="searchValue"
    />
  </div>
  <button type="submit" class="btn btn-primary" style="margin-left: 10px;">
    Search
  </button>
</form>
Book List
<div *ngFor="let book of books">
  <img src="{{ book.img }}" alt="cover" />
  <h5>{{ book.title }}</h5>
  <h5>{{ book.author }}</h5>
  <h6>{{ book.publishedDate }}</h6>
</div>
